# ignore .NET build artifacts
bin/
obj/
# ignore Visual Studio Files
.vs/
# ignore appsettings.development.json
appsettings.Development.json
/Vastra.API/Vastra.API/Vastra.API.csproj.user
#ignore Logs folder
Logs/
#ignore static files
wwwroot/